/* AddStore.css */
.store_add_title {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (min-width: 768px) {
    .store_add_title {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (min-width: 992px) {
    .store_add_title {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }